@font-face {
    font-family: magnificent;
    src: url(../fonts/Sacramento-Regular.ttf);
}
body{
    background-image: url(../images/Hintergrund.jpg);
    background-size: cover;
}
nav{
    margin: 10px;
}
h3{
    font-size: 30px;
}
main{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}
div{
    font-family: magnificent;
    color: rgb(101, 147, 216);
    font-size: 450%;
    margin-left: 35%;            
    transform: rotate(350deg); 
    -webkit-transform: rotate(350deg);

}
a:visited{
    color: blue;
}