@font-face {
    font-family: magnificent;
    src: url(../fonts/Sacramento-Regular.ttf);
}

body {
    background-image: url(../images/Hintergrund.jpg);
    background-size: cover;
    text-align: center;
    height: 100%;
    color: white;
}

.hintergrund {
    position: absolute;
    top: 0;
    left: 44%;
    bottom: 0;
    z-index: -1;
    transform: rotate(350deg);
    -webkit-transform: rotate(350deg);

    h1 {
        font-family: magnificent;
        color: rgb(141, 148, 245);
        font-size: 350%;
        margin: 65px;
        text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
    }

}

nav {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;

    a {
        color: white;
        text-decoration: none;

        i {
            font-size: 30px;
            position: relative;
            display: inline-block;
            margin-right: 20px;
        }
    }
}

.counter {
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 12px;
    display: none;
}

h2 {
    margin-top: 150px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    gap: 20px;
    margin-left: 7%;
    article {
        border: 2px black solid;
        width: 75%;
        padding: 10px;
        img {
            height: 250px;
        }
    }
}

